.header-wrapper{
    width:  100%;
    background-color: lightcoral;
    background-size : cover;
    background-repeat: no-repeat;
}
.header-wrapper .form-wrapper{
    margin : 2px; width: 50%;padding : 30px 10px;
}
.header-wrapper .title{
    color: black;
    letter-spacing: 1px;
    font-weight: 200;
    text-align: left;
    margin-bottom: 40px;
}
.header-wrapper .search-btn{
    text-align: left;
    padding : 10px 30px;
    border : 2px solid black;
    font-size : 15px;
    color:black;
    text-decoration:dotted;
}
.header-wrapper .form-group{
    margin-bottom: 40px;
}

.movie-detail-wrapper{
    padding: 50px 10px 50px 10px;
}

.movie-detail-wrapper .movie-info{
    padding-left : 30px;
    padding-right : 20px;
}
.movie-detail-wrapper .movie-info p{
    margin-bottom: 7px;
    overflow-wrap: break-word;
}
.movie-results-wrapper img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.movie-results-wrapper img{
    transition: 0.1s;
}
.movie-detail-wrapper img{
    position: absolute;
}

@media only screen and (max-width: 700px) {
    .header-wrapper .form-wrapper{
        margin : auto;
        width : 100%;
    }
    .header-wrapper .title{
        font-size: 20px;
    }
    .header-wrapper .search-btn{
        font-size: 13px;
        padding : 10px 15px;
    }

    .movie-detail-wrapper img{
        position : relative !important;
    }
}

